<a href="https://colab.research.google.com/github/Mouneshgowdan/dsa_placementtrining/blob/main/Day3_Bubble_Sort.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sorting_Algorithms Examples and Problems

# 1. what is Bubble Sort

#  . Repeatedly compares adjacent elements and swaps if needed.
#  .Time Complexity:Best: O(n) & Worst: O (n²) & Average Case:O(n²)
#  .Space Complexity: O(1)


  
# Example Problem:
#Sort [4, 10, 3, 5, 1].
# Steps:
# Build heap → [10, 5, 3, 4, 1]
# Extract max → [10] + [5, 4, 3, 1]
# Final sorted: [1, 3, 4, 5, 10]

In [1]:
swap = 0
l = [3,2,1,5,7]
n = len(l)

for i in range(n):
    for j in range(0, n-i-1):
        if l [j] > l[j+1]:
            l[j], l[j+1] = l[j+1], l[j]
            swap += 1
print(l)

[1, 2, 3, 5, 7]



#1. student height arrangement A teacher has a list of student and they are randomly placced .write a code in such a way so that all the student stand in ascending line

In [3]:
def bubble_sort(heights):
    n = len(heights)
    for i in range(n):
        for j in range(0, n - i - 1):
            if heights[j] > heights[j + 1]:
                # Swap if the element is greater than the next
                heights[j], heights[j + 1] = heights[j + 1], heights[j]
    return heights


student_heights = [150, 165, 140, 172, 160, 155]

print("Original heights:", student_heights)
sorted_heights = bubble_sort(student_heights)
print("Students arranged in ascending order:", sorted_heights)

Original heights: [150, 165, 140, 172, 160, 155]
Students arranged in ascending order: [140, 150, 155, 160, 165, 172]


#2. student height arrangement A teacher has a list of student and they are randomly placced .write a code in such a way so that all the student stand in descending line

In [4]:
def bubble_sort_desc(arr):
    n = len(arr)
    for i in range(n):
        for j in range(0, n-i-1):
            if arr[j] < arr[j+1]:   # reverse condition
                arr[j], arr[j+1] = arr[j+1], arr[j]
    return arr

student_heights = [158, 142, 165, 150, 170, 155]
print("Descending:", bubble_sort_desc(student_heights))

Descending: [170, 165, 158, 155, 150, 142]

# 3. Arrange Students by Roll Number Using Buble Sort

In [5]:
roll_numbers = [105, 101, 110, 108, 102]
roll_numbers.sort()   # Python built-in sort
print("Roll numbers in ascending order:", roll_numbers)

Roll numbers in ascending order: [101, 102, 105, 108, 110]

# 4. Arrange Student Names (Alphabetical) Using Bubble Sort

In [6]:
names = ["Zara", "Mike", "Adam", "John"]
names.sort()
print("Names in alphabetical order:", names)

Names in alphabetical order: ['Adam', 'John', 'Mike', 'Zara']

# 5. Arrange Students by Marks Using Bubble Sort

In [7]:
marks = [78, 95, 62, 89, 70, 56]
marks.sort()
print("Marks in ascending order:", marks)

Marks in ascending order: [56, 62, 70, 78, 89, 95]

# 6. Arrange Cricket Team Scores A cricket team’s scores in recent matches are:
# [250, 310, 180, 275, 299]
# Arrange them in ascending order.

In [8]:
scores = [250, 310, 180, 275, 299]
scores.sort()
print("Scores in ascending order:", scores)

Scores in ascending order: [180, 250, 275, 299, 310]

# 7. Arrange Employee Salaries Company employee salaries are:
# [45000, 25000, 60000, 30000, 55000]
# Arrange them from lowest to highest.

In [9]:
salaries = [45000, 25000, 60000, 30000, 55000]
salaries.sort()
print("Salaries in ascending order:", salaries)

Salaries in ascending order: [25000, 30000, 45000, 55000, 60000]